@import 'components/font';
@import 'components/variables';
@import 'components/html';

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.main-title {
  color: $main-title-color;
  width: 800px;
  margin: 100px auto;
  font-size: 42px;
  text-align: center;
}

.blocks {
  display: flex;
  justify-content: space-between;
}

.col-offset-smr-8 {
  margin-right: calc(8/12 * 100%);
}

.block {
  display: none;
  position: absolute;
  bottom: 120px;
  width: 300px;
  background-color: white;
  padding: 8px;
  padding: 24px;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  z-index: 2;

  h3.title {
    color: $color-green;
  }

  div.content{

  }
}

.section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  .picture {
    flex: 1 0 20%;
    width: 32%;
    position: relative;
    img {
      width: 120px;
    }
  }
}

.section .picture:hover > .block {
  display: block;
}

.article {
  width: 600px;
  margin: 60px auto;
  text-align: center;

  .short-padding {
    padding: 0 20px !important;
  }

  .nice-title {
    display: inline-block;
    
    .title {
      border: 3px solid $color-purple;
      padding: 30px;
    }
    .shadow {
      border: 3px solid $color-purple;
      padding: 30px;
    }
  }
}

.article-wide {
  width: 100%;
}


.slide-title {
    display: inline-block;
    font-size: 34px;
    font-weight: 900;
    position: relative;
}

.slide-title.large {
  display: block
}
.slide-title .title-text {
    font-size: 21px;
    display: block;
    padding: 15px;
    background-color: $body-bg;
    border: 5px solid $color-green;
    height: 34px;
    line-height: 36px;
    z-index: 1;
    transition: transform 1.5s ease, opacity 1.5s ease;
    -moz-transition: -moz-transform 1.5s ease, opacity 1.5s ease;
    -webkit-transition: -webkit-transform 1.5s ease, opacity 1.5s ease;
    -o-transition: -o-transform 1.5s ease, opacity 1.5s ease;
    -ms-transition: -ms-transform 1.5s, opacity 1.5s ease;
    -webkit-backface-visibility: hidden;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.slide-title .shadow {
    display: block;
    height: 65px;
    /* width: 100%; */
    position: relative;
    border: inherit;
    margin-top: -85px;
    right: -11px;
    z-index: -1;
    border: 5px solid $color-green;
    background: none !important;
    transition: transform 1.5s ease, opacity 1.5s ease;
    -moz-transition: -moz-transform 1.5s ease, opacity 1.5s ease;
    -webkit-transition: -webkit-transform 1.5s ease, opacity 1.5s ease;
    -o-transition: -o-transform 1.5s ease, opacity 1.5s ease;
    -ms-transition: -ms-transform 1.5s, opacity 1.5s ease;
    -webkit-backface-visibility: hidden;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.title-text.orange, .shadow.orange {
  border: 5px solid $color-orange;
}

.title-text.purple, .shadow.purple {
  border: 5px solid $color-purple;
}

.title-text.green, .shadow.green {
  border: 5px solid $color-green;
}


.split-content, .wrapper-col {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .col, .sub-col {
    flex: 1 0 50%;
  }
}

.list {
  list-style-type: none;
  text-align: left;
  li{
    margin-bottom: 20px;
  }
  li:before {
    color: $color-green;
    content:"\2713\0020";
  }
}