@import 'components/font';
@import 'components/variables';
@import 'components/html';

.header {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 10;

  .header-logo {
    float: left;
    padding-top: 30px;
    padding-left: 30px;
    display: block;
    margin: auto;
    width: 200px;
    font-weight: bold;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    a img {
      height: 60px;
      position: absolute;
      top: 0px;
      left: 0px;
      transition: transform 0.2s ease, opacity 0.2s ease;
      -moz-transition: -moz-transform 0.2s ease, opacity 0.2s ease;
      -webkit-transition: -webkit-transform 0.2s ease, opacity 0.2s ease;
      -o-transition: -o-transform 0.2s ease, opacity 0.2s ease;
      -ms-transition: -ms-transform 0.2s, opacity 0.2s ease;
      -webkit-backface-visibility: hidden;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s;
    }
  }
}

.nav-buttons {
    float: right;
  .hamburger-button {
    width: 48px;
    height: 70px;
    margin: 20px;
    display: block;
    float: left;
    position: relative;

    img {
      width: 48px;
      height: 70px;
      position: absolute;
      top: 0px;
      left: 0px;
      transition: transform 0.2s ease, opacity 0.2s ease;
      -moz-transition: -moz-transform 0.2s ease, opacity 0.2s ease;
      -webkit-transition: -webkit-transform 0.2s ease, opacity 0.2s ease;
      -o-transition: -o-transform 0.2s ease, opacity 0.2s ease;
      -ms-transition: -ms-transform 0.2s, opacity 0.2s ease;
      -webkit-backface-visibility: hidden;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s;
    }
  }
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.main-title {
  color: $main-title-color;
  max-width: 800px;
  margin: 200px auto 100px auto;
  font-size: 42px;
  text-align: center;
}

.blocks {
  display: flex;
  justify-content: space-between;
}

.col-offset-smr-8 {
  margin-right: calc(8/12 * 100%);
}

.block {
  position: absolute;
  bottom: 120px;
  width: 300px;
  background-color: white;
  padding: 8px;
  padding: 24px;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  z-index: -1;
  -webkit-transition: opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;
  opacity: 0;

  h3.title {
    color: $color-green;
  }
}

.section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  .picture {
    flex: 1 0 20%;
    width: 32%;
    position: relative;
    img {
      width: 120px;
    }
  }
}

.section .picture a:hover ~ .block {
  opacity: 1;
  z-index: 2;
}

.article, .article-wide {
  margin: 60px auto;
  text-align: center;

  .short-padding {
    padding: 0 20px !important;
  }

  .nice-title {
    display: inline-block;
    
    .title {
      border: 3px solid $color-purple;
      padding: 30px;
    }
    .shadow {
      border: 3px solid $color-purple;
      padding: 30px;
    }
  }
}

.article-wide {
  width: 100%;
}

.article {
  max-width: 600px;
}

.slide-title {
    display: inline-block;
    font-size: 34px;
    font-weight: 900;
    position: relative;
}

.slide-title.large {
  display: block
}
.slide-title .title-text {
    font-size: 21px;
    display: block;
    padding: 15px;
    background-color: $body-bg;
    border: 5px solid $color-green;
    height: 34px;
    line-height: 36px;
    z-index: 1;
    transition: transform 1.5s ease, opacity 1.5s ease;
    -moz-transition: -moz-transform 1.5s ease, opacity 1.5s ease;
    -webkit-transition: -webkit-transform 1.5s ease, opacity 1.5s ease;
    -o-transition: -o-transform 1.5s ease, opacity 1.5s ease;
    -ms-transition: -ms-transform 1.5s, opacity 1.5s ease;
    -webkit-backface-visibility: hidden;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.slide-title .shadow {
    display: block;
    height: 65px;
    /* width: 100%; */
    position: relative;
    border: inherit;
    margin-top: -85px;
    right: -11px;
    z-index: -1;
    border: 5px solid $color-green;
    background: none !important;
    transition: transform 1.5s ease, opacity 1.5s ease;
    -moz-transition: -moz-transform 1.5s ease, opacity 1.5s ease;
    -webkit-transition: -webkit-transform 1.5s ease, opacity 1.5s ease;
    -o-transition: -o-transform 1.5s ease, opacity 1.5s ease;
    -ms-transition: -ms-transform 1.5s, opacity 1.5s ease;
    -webkit-backface-visibility: hidden;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.title-text.orange, .shadow.orange {
  border: 5px solid $color-orange;
}

.title-text.purple, .shadow.purple {
  border: 5px solid $color-purple;
}

.title-text.green, .shadow.green {
  border: 5px solid $color-green;
}


.split-content, .wrapper-col {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .col, .sub-col {
    flex: 1 0 50%;
  }
}

.list {
  list-style-type: none;
  text-align: left;
  li{
    margin-bottom: 20px;
  }
  li:before {
    color: $color-green;
    content:"\2713\0020";
  }
}

@import 'components/media';
